body
  width 100$
  height 100%
  background $bkgd
  background radial-gradient(circle, $bkgd, #2F2727)
  background -webkit-radial-gradient(circle, $bkgd, #2F2727)
  background -moz-radial-gradient(circle, $bkgd, #2F2727)
  text-rendering optimizeLegibility
  
  .container
    width 1000px
    margin 0 auto
    padding 40px 0