.datasource
  width 100%
  margin-top 40px
  
  ul
    margin 0
    padding 0
    li
      display inline-block
      box-sizing border-box
      color $white
      font-weight 200
      font-size 11px
      border 1px dotted
      padding 2px
      margin 4px 1px
      cursor pointer
      
      &:hover
        background $gray-dark
      
      &:active
        background $pink