.datasource
  float right
  width 50%
  margin-top 110px
  margin-right 20px
  
  ul
    li
      display inline-block
      font-size 11px
      border 1px dotted
      padding 4px
      margin 4px 1px
      cursor pointer
      
      &:hover
        background $gray
      
      &:active
        background $pink