@keyframes spin
  from {transform: rotate(0deg);   opacity: 0.2; }
  50%  { transform: rotate(180deg); opacity: 1.0; }
  to   { transform: rotate(360deg); opacity: 0.2; }

.webfits
  line-height 0
  
  .viewer
    display inline-block
    margin-right 20px
    border 1px solid $white
    overflow hidden
    
    canvas
      image-rendering optimizeSpeed
      image-rendering -moz-crisp-edges
      image-rendering -webkit-optimize-contrast
      image-rendering optimize-contrast
    
  .controls
    display inline-block
    line-height 1
    vertical-align top
    
    .spinner
      display none
      position absolute
      right 270px
      width 20px
      height 20px
      border-right-color transparent
      border-radius 50%
      box-shadow 0 0 25px 2px $white
      
      &.active
        display block
        animation spin 1s linear infinite
    
    .bands
      margin-bottom 20px
      
      input[type='radio']
        display none
        &:checked + label
          box-shadow 0 100px 0 rgba($black, 0.1) inset, 0 1px 3px rgba($black, 0.25) inset

      label
        @extend #standard-button
        display inline-block
        cursor pointer
  
    .parameters
      display none
      
      .subtitle
        
        .left
          float left
          font-size 16px
          text-shadow 0 1px 0 $gray
          font-weight 200
          
        .right
          float right
          box-sizing border-box
          font-size 10px
          color $white
          border 1px solid $white
          cursor pointer
      
      .stretchfn
        clear both
        margin-bottom 20px

        input[type='radio']
          display none
          &:checked + label
            box-shadow 0 100px 0 rgba($black, 0.1) inset, 0 2px 3px rgba($black, 0.25) inset

        label
          @extend #standard-button
          display inline-block
          font-size 11px
          text-transform lowercase
          cursor pointer
      
      input[type='range']
        clear both
        width 401px
        display block
        margin-bottom 10px
        
        // Edit display to show parameter value on slide
        &:active + .parameter
          display none
    
    .parameter
      position absolute
      display none
      width 70px
      height 25px
      background $gray-light
      opacity 0.8
      border-radius 4px
      font-size 11px
      text-align center
      padding-top 8px
      font-weight 700
      